[Desktop Entry]
Type=Application
Name=DashboardΩ
Exec=sh -c "sleep 5 && /usr/bin/chromium --kiosk --incognito --disable-infobars --noerrdialogs --password-store=basic --use-mock-keychain --force-device-scale-factor=0.85 file:///home/$HOME/dashboard_v2.html"
X-GNOME-Autostart-enabled=true
Name[en_GB]=Dashboard
